.modalBackdrop {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalContent {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  
  width: 90%;
  max-width: 500px;
  
  max-height: 90vh;
  overflow-y: auto;

  z-index: 101;
}

.modalContent form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalContent form h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.modalContent label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #333;
  text-align: left;
}

.modalContent input[type="text"],
.modalContent input[type="date"],
.descricaoTextarea {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%; 
  box-sizing: border-box; 
  background-color: #e9e9e9;
  color: black;
  height: 2.5rem;
}

.containerLadoALado {
  display: flex;
  flex-direction: row; 
  gap: 1rem;
}

.itemLadoALado {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  box-sizing: border-box;
}

.descricaoTextarea {
  font-family: inherit;
  resize: vertical;
  min-height: 80px;
}

.error {
  color: #d93025;
  font-size: 0.8rem;
  margin: 0;
  text-align: left;
}

.botoesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 150px;
  margin-top: 1rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}

.botoesContainer button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 0.25rem 1.5rem;
  min-width: 175px;
  border: none;
  line-height: 1.0;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.botoesContainer button[type="submit"]:hover {
  background-color: #0056b3;
}

.botoesContainer button[type="button"] {
  background-color: rgb(229, 11, 11);
  color: white; 
  padding: 0.25rem 1.5rem;
  min-width: 175px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.botoesContainer button[type="button"]:hover {
  background-color: rgb(182, 12, 12);
}